// sin parametros
@mixin buscador{
    width: 100%;
    display: flex;
    justify-content: center;
}

@mixin contenedor{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

@mixin logo{
    width: auto;
    display: inline-block;
    padding-left: 10px;
    text-align: start;
    width: 100%;
}

@mixin menu{
    flex-direction: row;
    width: 100%;
    
}

@mixin card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #a0a0a0;
    padding: 20px;
    text-align: center;
    width: 100%;
}

@mixin btn{
    display: inline-block;
    background-color: black;
    color: whitesmoke;
    padding: 8px 2px;
    border-radius: 5px;
    text-decoration: none;
}

@mixin derechos{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

@mixin social{
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}