// VARIABLES
@use "../utilities/variables" as *;

// MIXIN
@use "../utilities/mixin" as *;

/* estilos del header */

header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
    background-color: $fondo-bg;
    cursor: default;
}

/* buscador */
.buscador{
    @include buscador;
    input{
        width: 90%;
        max-width: 400px;
        padding: 8px 12px;
        position: relative;
        justify-content: center;
        box-sizing: border-box;
    }
}

/* logo */

.contenedor{
    @include contenedor;
}

.logo{
    @include logo;
    width: 100px;
    flex-shrink: 0;
    img{
        display: block;
        width: 80px;
        height: auto;
        position: relative;
        bottom: 1rem;
        border-radius: 10%;
    }
}

.menu-wrapper{
    width: 100px;
    display: flex;
    flex-shrink: 0;
    justify-content: flex-end;
    align-items: center;
    margin-top: -15px;
    margin-right: 10px
}

.menu-wrapper{
    img[alt="icono de usuario"]{
        width: 40px;
        height: 40px;
        flex-shrink: 0;
    }
}

/* menu */
.menu{
    @include menu;
    flex-grow: 1;
    ul{
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 30px;
        flex-wrap: nowrap;
        width: 100%;
        margin-left: -30px;
        margin-top: 10px;
    }
    li{
        a{
            text-decoration: none;
            color: $tipo-bg;
            font-weight: bold;
        }
    }
}

/* estilos de main*/
main{
    text-align: center;
    section{
        div{
            h1{
                text-align: center;
                text-decoration: underline;
            }
        }
    }
}

/* imagenes del los productos del index */

.productos-uno{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "imagen-uno imagen-dos imagen-tres"
    "imagen-uno imagen-dos imagen-tres";
    gap: 20px;
    justify-items: center;
    margin: 30px auto;
    max-width: 1200px;
    .imagen-uno{
        grid-area: imagen-uno;
    }
    .imagen-dos{
        grid-area: imagen-dos;
    }
    .imagen-tres{
        grid-area: imagen-tres;
    }
}

.producto{
    width: 300px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
}

/* texto de los productos y boton */
.card{
    @include card;
    img{
        width: 100%;
        height: auto;
        border-radius: 8px;
        margin-bottom: 10px;
    }
    h3{
        margin: 10px 0;
        font-size: 1rem;
    }
    p{
        font-weight: bold;
        color: $tipo-bg;
        margin-top: 10px;
    }
}

.btn{
    @include btn;
    :hover{
        background-color: $boton-accion;
    }
}

/* estilos de footer */
footer{
    background-color: $fondo-bg;
    padding: 30px 40px;
}

.derechos{
    @include derechos;
    p{
        font-weight: bold;
        font-size: 0.95rem;
    }
}

/* lista de redes */
.social{
    @include social;
    li{
        img{
            display: flex;
            justify-content: space-between;
            width: 40px;
            height: 40px;
            border-radius: 5px
        }
    }
}

/* productos.html */
.pagina2  {
    h1 {
    color: $tipo-bg;
    text-decoration: underline;
    } 
}